.git
.gitignore
.env
.env.*
node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
pgdata
minio-data
*.md
docs
tests
.phpunit.cache
.phpunit.result.cache

